html body.form-popup-hide .eg-form-popup {
  display: none;
}
.eg-form-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: auto;
  z-index: 999;
  max-width: 600px;
}
.eg-form-popup .eg-form-popup-inr {
  background: #000000;
  padding: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 12px 0px rgb(255 255 255 / 20%);
  -moz-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 12px 0px rgb(255 255 255 / 20%);
}
.eg-form-container .eg-form-close {
  position: absolute;
  top: 18px;
  right: 18px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  padding: 2px;
  cursor: pointer;
  color: #ffffff;
}
.eg-form-container .eg-form-close:hover {
  color: #14a243;
}

.eg-form-popup input {
  padding: 5px 5px 5px 10px;
  margin-right: 5px;
  height: 35px;
  border: none;
}

.eg-form-popup button {
  background: #fae016;
  padding: 0px 11px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid #fae016;
}
.eg-form-popup button:hover {
  border: 1px solid #fae016;
  background: #000000;
  color: #fae016;
}
.eg-form-popup input:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  html body .eg-form-popup {
    bottom: 0px;
    right: 0px;
    width: 100%;
  }

  html body .eg-form-popup .eg-form-popup-inr form {
    flex-direction: column;
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  html body .eg-form-popup input {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  /*.eg-form-popup .eg-form-popup-inr {
        padding-top: 30px;
        padding-right: 15px;
    }*/
  .eg-form-popup .eg-form-popup-inr {
    border-radius: 0px;
  }
}
.eg-thanks {
  color: #ffff;
  text-align: center;
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
  display: none;
  padding-right: 35px;
}

form.gf {
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.edb-survey .edb-button {
  display: inline-block;
}
.edb-survey[data-step='5'] .edb-action button {
  width: 50%;
}
.edb-survey .fg {
  display: none;
}
.edb-survey[data-step='1'] .fg[data-section='1'],
.edb-survey[data-step='2'] .fg[data-section='2'],
.edb-survey[data-step='3'] .fg[data-section='3'],
.edb-survey[data-step='4'] .fg[data-section='4'],
.edb-survey[data-step='5'] .fg[data-section='5'] {
  display: block;
}
.edb-survey .edb-action {
  display: flex;
  justify-content: end;
}
.edb-survey .edb-action button#close {
  display: none;
}
.edb-survey[data-step='5'] .edb-action button#close {
  display: block;
}
.edb-survey[data-step='5'] .edb-action #next {
  display: none;
}
.edb-survey[data-step='1'] .edb-action #previous {
  display: none;
}

.gtm-popup.gtm-config .popup.bottomright {
  background: #000;
  padding: 15px;
  color: #fff;
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
.gtm-popup.gtm-config .popup .close {
  font-size: 28px;
  color: #585858;
  opacity: 1;
  font-weight: 100;
  border: 2px solid #585858;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 26px;
  top: 10px;
  right: 10px;
}
.gtm-popup.gtm-config .popup .close:hover {
  color: #fae017;
  border-color: #fae017;
  opacity: 1;
}
form.gf .fl {
  text-align: left;
  font-size: 20px;
  line-height: 1.1;
  padding-right: 35px;
  margin-bottom: 15px !important;
  margin-top: 0px;
  color: #fff;
  cursor: initial;
  display: block;
}
form.gf .fc {
  border: 0px solid #000;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  padding: 10px 12px;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: block;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 15px;
}
.edb-survey #previous {
  background: #000000;
  border: 2px solid #14a243;
  border-radius: 3px;
  width: 50%;
  margin-right: 5px;
  color: #14a243;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 15px 10px;
  text-align: center;
  cursor: pointer;
}
.edb-survey #next {
  background: #14a243;
  border: 1px solid #14a243;
  border-radius: 3px;
  width: 50%;
  margin-left: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 15px 10px;
  text-align: center;
  cursor: pointer;
}
.edb-survey[data-step='5'] .edb-action button#close {
  background: #e10829;
  border: 1px solid #e10829;
  border-radius: 3px;
  width: 50%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px;
  height: auto;
  margin: 0;
  margin-left: 5px;
  font-size: inherit;
  line-height: inherit;
}
.flradio {
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 20px;
  margin-right: 5px;
  display: inline-block;
}
.flradio input[type='radio'] {
  display: none;
}
.flradio:hover,
.flradiochecked {
  background: #fff;
  color: #000;
}
#step5 label.fl {
  display: block;
}
#step5 {
  min-height: 120px;
}
@media screen and (max-width: 420px) {
  .flradio {
    padding: 10px 6px;
  }
}
