#content .upsellproductform .upsellproductformbutton {
    color: black;
    text-transform: capitalize;
}

#content .upsell-slider-wrap .upsell-slider-header .description {
    color: black;
}

#content .amount-summary .total-saving-amount {
    font-size: 17px;
}

#content #cartform .cart-right-section .cart-amount-summary .extra-checkout-buttons>div {
    margin-bottom: 0 !important;
}

#content #cartform .cart-right-section .cart-amount-summary .extra-checkout-buttons>div>div {
    margin-bottom: 0;
}

#content #shopify-section-cart-template .cart-right-section .cart_installement {
    margin-top: 16px;
    font-size: 14px;
}

#content #cartform .cart-items .description .cart__meta-text span {
    background: none;
}

#content #cartform .cart-items .item .description .eg-move-to-wishlist {
    background-image: url(https://img.icons8.com/fluency-systems-filled/48/8caadc/hearts.png);
    position: absolute;
    left: 55px;
    bottom: 5px;
    height: 22px;
    display: block;
    width: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#content .upsell-section.upsell-cart .product-details {
    text-align: justify;
    display: flex;
    flex-direction: column;
}

#content .upsell-section.upsell-cart .product-details .product-title,
#content .upsell-section.upsell-cart .product-details div#price {
    margin-left: 0;
}

#cartform .discount {
    display: none;
}

#content .cart-items .price h5 span {
    font-size: 24px;
    color: black !important;
}

#content .cart-items .price h5 s {
    font-size: 17px;
    padding-top: 8px;
}

@media(min-width: 768px) {
    .cart-items .description .title_n_varient {
        padding-right: 40px !important;
    }

    #content #shopify-section-cart-template .cart-items .item {
        padding: 31px 10px;
    }

    #content #shopify-section-cart-template .cart-items .item h3 a {
        font-size: 22px;
    }

    .eg-view-more {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        text-decoration: underline;
    }

    .eg-view-more a {
        color: #617580;
    }

    #content .upsell-section-slider {
        display: flex;
        border: 3px solid rgb(0 0 0 /10%);
    }

    #content .upsell-section-slider section {
        height: auto !important;
        flex: 1;
    }

    #content .cart-left-section .upsell-section {
        border: none;
    }

    #content .cart-left-section .upsell-section-slider section:nth-of-type(n + 3) {
        display: none;
    }

    #content .cart-items .price h5 {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }

    #content .cart-items .quantity {
        width: fit-content;
        margin-top: 10px;
        padding-right: 15px;
    }

    #content #cartform .cart-items .item .description .description-wrp {
        flex: 1;
        display: flex;
        align-items: center;
    }

    #content #shopify-section-cart-template .freeShipMsg {
        width: 35%;
        float: right;
        clear: both;
    }

    #content #cartform .cart-left-section {
        margin-top: -60px;
    }

    #content #cartform .cart-items .heading {
        display: none;
    }

    #content #cartform .cart-right-section {
        width: 33.7%;
    }

    #content #cartform .cart-right-section .cart-amount-summary .extra-checkout-buttons {
        margin-top: 2em;
        padding-top: 2em;
        border-top: 2px solid rgb(0 0 0 /10%);
    }

    #content #shopify-section-cart-template .light-space-above {
        padding-bottom: 0;
    }
}

@media(min-width: 768px) and (max-width: 1292px) {
    .eg-delivery-tab{
        font-size: 13px !important;
    }
    #content #cartform .cart-left-section {
        margin-top: -86px;
    }

    #content #cartform .cart-items .item .description .description-wrp {
        flex-wrap: wrap;
    }

    #content .cart-items .price h5 {
        padding-left: 0;
    }

    #content #cartform .cart-right-section .payment-logos {
        flex-wrap: wrap;
    }

    .eg-verified-trust {
        flex-wrap: wrap;
    }

    #content .upsell-section-slider {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
    }
}

.eg-login-signup-msg {
    border: 1px solid #bec7cb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: black;
    font-size: 17px;
}

.eg-login-signup-msg p {
    margin: 0;
}

.eg-login-signup-msg a {
    color: black;
    text-decoration: underline;
}

#content #shopify-section-cart-template .freeShipMsg {
    margin-block: 12px;
    padding-block: 10px;
}

#content #shopify-section-cart-template .freeShipMsg p {
    font-weight: 400;
    color: black;
    font-size: 18px;
    line-height: 1.4;
}

#content #cartform .cart-items .item .description {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

#content #cartform .cart-items .item .description>.image {
    float: none;
    margin-left: 0;
    width: 130px;
    margin-right: 20px;
    align-self: center;
}

#content #shopify-section-cart-template .cart-items .item h3 a {
    color: black !important;
}

#content #shopify-section-cart-template .cart-items .item .price .cart_installement {
    display: none;
}

#content #cartform .move_to_wishlist_wrap {
    display: none;
}





#content #cartform .cart-right-section {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0 0 0 /10%);
    padding: 0;
}

#content #cartform .cart-right-section .delivery-option {
    order: -1;
    margin-bottom: 10px;
}

#content #cartform .cart-right-section .delivery-option .clickandcollect>:is(h4, p) {
    display: none;
}

#content #cartform .cart-right-section .delivery-option #location-container label.btn {
    margin: 0;
    border: 0;
    color: #5e737e;
    text-transform: capitalize;
}

#content #cartform .cart-right-section .delivery-option #location-container label.btn:hover {
    background: white;
}

#content #cartform .cart-right-section .delivery-option #location-container input[type='radio']:checked+label {
    background: #5e737e;
    color: white;
}

#content #cartform .cart-right-section .delivery-option #location-container input[type='radio']:checked+label svg path {
    fill: white;
}

#content #cartform .cart-right-section .delivery-option #location-container label.btn svg path {
    fill: #5e737e;
}

#content #cartform .cart-right-section .delivery-option #location-container label.btn svg {
    width: 25px;
    height: 22px;
}


#content #cartform .cart-right-section .payment-logos {
    order: 3;
    justify-content: center;
    gap: 10px;
    padding-inline: 18px;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 26px;
}


#content #cartform .cart-right-section .cart-amount-summary {
    padding-inline: 17px;
    display: flex;
    flex-direction: column;
}


#content #cartform .cart-right-section .cart-amount-summary .extra-checkout-buttons ul[role='list'] {
    flex-direction: row !important;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

#content #cartform .cart-right-section .cart-amount-summary .extra-checkout-buttons ul[role='list'] li {
    flex: 1;
    margin: 0 !important;
}

#content #cartform .cart-right-section .cart-amount-summary .extra-checkout-buttons ul[role='list'] li>div {
    margin: 0;
    max-height: 49px !important;
    height: 100% !important;
}

#content #cartform .cart-right-section .cart-amount-summary .badge-cart {
    order: 2;
    margin-top: .7em;
}

.eg-verified-trust .eg-benifits {
    text-align: left !important;
    padding: 0 !important;
    margin-inline: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: fit-content;
}

.eg-verified-trust .eg-benifits li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.eg-verified-trust .eg-benifits li::before {
    content: '';
    position: static !important;
    display: inline-block;
    background-image: url('https://cdn.shopify.com/s/files/1/0057/6657/8279/files/imgpsh_fullsize_anim_58c525ba-3930-4a99-b585-048becfadf0b.jpg?v=1615977723');
    width: 20px;
    height: 20px;
    background-size: 100%;
}

.eg-verified-trust {
    display: flex;
    gap: 20px;
    padding-inline: 18px;
    margin-top: 16px;
    margin-bottom: 26px;
    order: 4;
    justify-content: center;
}

.eg-verified-trust .icon-delivery-return img {
    max-width: 122px !important;
}

.eg-verified-trust .badge-cart {
    margin-top: 0;
    display: flex;
    align-items: center;
}

.eg-tabel-list {
    width: max-content;
}

.eg-login-signup-msg {
    border: 1px solid #bec7cb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: black;
    font-size: 17px;
}

.eg-login-signup-msg p {
    margin: 0;
}

.eg-login-signup-msg a {
    color: black;
    text-decoration: underline;
}

#content #shopify-section-cart-template .freeShipMsg {
    margin-block: 12px;
    padding-block: 10px;
}

#content #shopify-section-cart-template .freeShipMsg p {
    font-weight: 400;
    color: black;
    font-size: 18px;
    line-height: 1.4;
}

#content #cartform .cart-items .item .description {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

#content #cartform .cart-items .item .description>.image {
    float: none;
    margin-left: 0;
    width: 130px;
    margin-right: 20px;
    align-self: center;
}


#content #shopify-section-cart-template .cart-items .item .price .cart_installement {
    display: none;
}

#content #cartform .move_to_wishlist_wrap {
    display: none;
}

#content #shopify-section-cart-template .cart-items .item {
    padding: 20px 10px;
}


#content #cartform .cart-right-section .delivery-option {
    order: -1;
    margin-bottom: 10px;
}

#content #cartform .cart-right-section .delivery-option .clickandcollect>:is(h4, p) {
    display: none;
}

#content #cartform .cart-right-section .delivery-option #location-container label.btn {
    margin: 0;
    border: 0;
    color: #5e737e;
    text-transform: capitalize;
}


#content #cartform .cart-right-section .delivery-option #location-container input[type='radio']:checked+label {
    background: #5e737e;
    color: white;
}





#content #cartform .cart-right-section .cart-amount-summary {
    padding-inline: 17px;
    display: flex;
    flex-direction: column;
}

#content #cartform .cart-right-section .cart-amount-summary #checkout {
    color: black;
    text-transform: capitalize;
    margin-top: 15px;
}

#content #cartform .cart-right-section .cart-amount-summary .extra-checkout-buttons ul[role='list'] {
    flex-direction: row !important;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

#content #cartform .cart-right-section .cart-amount-summary .extra-checkout-buttons ul[role='list'] li {
    flex: 1;
    margin: 0 !important;
}

#content #cartform .cart-right-section .cart-amount-summary .extra-checkout-buttons ul[role='list'] li>div {
    margin: 0;
    max-height: 49px !important;
    height: 100% !important;
}

#content #cartform .cart-right-section .cart-amount-summary .badge-cart {
    order: 2;
    margin-top: .7em;
}

.eg-verified-trust .eg-benifits {
    text-align: left !important;
    padding: 0 !important;
    margin-inline: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: fit-content;
}

.eg-verified-trust .eg-benifits li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.eg-verified-trust .eg-benifits li::before {
    content: '';
    position: static !important;
    display: inline-block;
    background-image: url('https://cdn.shopify.com/s/files/1/0057/6657/8279/files/imgpsh_fullsize_anim_58c525ba-3930-4a99-b585-048becfadf0b.jpg?v=1615977723');
    width: 20px;
    height: 20px;
    background-size: 100%;
}


.eg-verified-trust .icon-delivery-return img {
    max-width: 122px !important;
}

.eg-verified-trust .badge-cart {
    margin-top: 0;
    display: flex;
    align-items: center;
}

.eg-tabel-list {
    width: max-content;
}


#content .upsell-slider-wrap {
    order: 3;
    margin-top: 10px;
    border: none;
}

#content .upsell-slider-wrap .upsell-slider-header {
    margin-bottom: 11px;
}


#content .cart-left-section .upsell-section {
    padding: 10px;
}

#content .cart-left-section .upsell-section .custom-text {
    display: none;
}

#content .cart-left-section .upsell-section .row {
    display: flex;
    gap: 20px;
}

#content .cart-left-section .upsell-cart .product-gallery {
    width: 160px;
    display: flex;
    align-items: center;
}

#content .cart-left-section .upsell-cart .product-details .product-title {
    line-height: 1.8;
    margin-bottom: 16px;
}



@media(max-width: 767px) {

    #content .cart-items .price h5 {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    #content #shopify-section-cart-template .upsellproductform button {
        width: 100%;
    }


    #content .cart-left-section {
        padding-inline: 0;
        display: flex;
        flex-direction: column;
    }

    /*move to wishtlist heart icon*/
    #content #cartform .cart-items .item .description .eg-move-to-wishlist {
        top: 10px !important;
        left: 10px !important;
        bottom: unset !important;
    }

    div.upsell-slider-wrap button.slick-prev.slick-arrow,
    div.upsell-slider-wrap button.slick-next.slick-arrow {
        position: absolute;
        top: 110%;
    }

    .upsell-section-slider .slick-dots {
        display: block !important;
        position: absolute;
    }

    ul.slick-dots {
        position: absolute;
        top: 100%;
    }

    .slick-dots li {
        position: relative;
        height: 21px;
        width: 21px;
        border: 1px solid #cccccc;
        ;
        border-radius: 50%;
    }

    .upsell-section-slider .slick-dots li button:before {
        color: #9fc4e5 !important;
    }

}