#Step2\:ChooseYourPlan5 > div > div {
	justify-content: center;
}

#Step2\:ChooseYourPlan5 > div > div > div:nth-child(2) {
	display: none;
}

#__layout > div > div:nth-child(2) > div.order-page > div > div > div > div.wizard-card-footer {
	max-width: 50%;
	margin: auto;
	padding: 0 !important;
}

@media(max-width:991px) {
	.order-page .row.package > * {
		margin-bottom: 0 !important;
		padding-bottom: 10px !important;
	}

}
