.catalog-product-view-configurateur-widgets>.anchors-actions,
.catalog-product-view-configurateur-widgets>.anchors-configurator-blocks,
.catalog-product-view-configurateur-widgets>.step-blocks,
.catalog-product-view-configurateur-widgets>.block-configurator-with-anchor,
.catalog-product-view-configurateur-widgets>.technical-features,
.catalog-product-view-configurateur-widgets>.banner-image-simple-widget,
.catalog-product-view-configurateur-widgets>#anchor-informations_produit {
    display: none;
}

/* Benchmark Section */
.eg-benchmark-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.eg-benchmark-section>div {
    width: 50%;
}

.eg-benchmark-section .right-section {
    text-align: center;
}

h2.eg-benchmark-heading {
    text-align: center;
    font-family: "WotfardSemiBold", "Arial", "sans-serif";
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}

.eg-benchmark {
    padding: 40px 20px;
}

p.eg-benchmark-para {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 28px;
}

.eg-benchmark-section .left-section>ul {
    padding-left: 0px;
}

.eg-benchmark-section .left-section>ul li {
    list-style: none;
    display: flex;
}

.eg-benchmark-section .left-section>ul .eg-bench-text {
    margin-left: 13px;
}

span.eg-icon i {
    color: #23ce70;
}

.eg-description .col-12>div {
    margin-bottom: 5px;
}

/* Devider */
.eg-devider .row>div {
    font-size: 18px;
    padding: 10px 0px;
}

.eg-devider {
    padding: 20px 0px 40px 0px;
}

.eg-devider hr {
    width: 80%;
    background: #000000;
}


/* Security */

.egSecurityContent {
    display: flex;
    align-items: center;
}

.eg-security {
    padding: 40px 20px;
}

.egSecurityContent .eg_leftSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.egSecurityContent .eg_rightSide {
    width: 50%;
}

.eg_leftSide>img {
    width: 300px;
    max-width: 90%;
    opacity: 1;
}

.eg_SecurityText {
    margin-top: 20px;
    font-size: 18px;
}

.eg_images_security {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eg_images_security img {
    max-width: 45px;
}


.eg-security ul {
    padding-left: 0px;
}

.eg-security ul li {
    list-style: none;
    display: flex;
}

.eg-security ul .eg-bench-text {
    margin-left: 13px;
}

.eg-security-text {
    margin-left: 10px;
}

h2.eg_heads {
    text-align: center;
    font-family: "WotfardSemiBold", "Arial", "sans-serif";
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}

/* eg-Types */
.eg-types .row {
    flex-direction: column;
    align-items: center;
}

.eg-types .eg_heading_title {
    text-align: center;
    font-family: "WotfardSemiBold", "Arial", "sans-serif";
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}

.eg-types .eg_subtitle {
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
}

.eg-types .eg_images_type {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;
}

.eg-types .eg_images_type .eg_img_types {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eg-types .eg_images_type .eg_img_desc {
    margin: 10px;
}

.eg-types {
    padding: 40px 0px;
}

/*  */
.eg-encombrement {
    padding: 40px 0px;
}

.eg-lames .row h4,
.eg-encombrement .row>h4 {
    text-align: center;
    font-family: "WotfardSemiBold", "Arial", "sans-serif";
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    width: 100%;
}





.eg-encombrement .row>div {
    width: 50%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eg_coffre_final {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.eg_coffre_final .eg_btmImg_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.eg_coffre_btm h3,
.eg-encombrement .eg_rhs_coffre h4,
.eg_lhs_coffre h3 span {
    text-align: center;
    font-family: "WotfardSemiBold", "Arial", "sans-serif";
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

.eg_table_right tr th {
    background: #6f34f2;
}

table.eg_table_right {
    border: 1px solid #6f34f2;
}

table.eg_table_right tbody tr:nth-child(odd) {
    background: #f2f7fe;
}

table.eg_table_right tbody tr:nth-child(even) {
    background: #ffffff;
}

.eg_coffre_final .eg_btmImg_1 span {
    margin: 10px;
    display: block;
}

/* .eg-lames */
.eg-lames {
    padding: 40px 0px;
}

html body .eg-lames .row h4 {
    margin-bottom: 50px;
}

.eg_lames_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.eg_lames_container .eg_lames_type {
    padding: 10px;
}

.eg_descs {
    margin: 20px 0px 20px 0px;
    padding: 5px 15px 5px 15px;
    background-color: rgba(86, 67, 232, 0.08);
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    color: #5643e8;
    display: inline-block;
}

.eg_descs+span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 18px;
}

.eg_lames_container .eg_lames_type img {
    max-width: 260px;
}

.eg_lames_para {
    font-size: 12px;
    line-height: 1.23;
}

.eg-volet .row>h4 {
    text-align: center;
    font-family: "WotfardSemiBold", "Arial", "sans-serif";
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
    width: 100%;
}

.eg-volet .eg_volet_Container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.eg-volet .eg_volet_content img {
    width: 300px;
    max-width: 90%;
    opacity: 1;
    border: 1px solid #5643e8;
    border-radius: 500px 500px 500px 500px;
    display: block;
}

.eg-volet .eg_volet_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.eg-volet .eg_volet_title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
}

.eg-volet .eg_volet_desc br {
    display: none;
}

.eg-volet {
    padding: 40px 0px;
}

/*  */
.eg-coulisses {
    padding: 40px 0px;
}

.eg-coulisses .row>h4 {
    text-align: center;
    font-family: "WotfardSemiBold", "Arial", "sans-serif";
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
    width: 100%;
}

.eg-coulisses .eg_coulisses_Container {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
}

.eg-coulisses .eg_coulisses_content {
    padding: 10px;
    margin: 10px;
    width: 33%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}

.eg-coulisses .eg_coulisses_img img {
    width: 200px;
    max-width: 90%;
    opacity: 1;
}

.eg-coulisses .eg_coulisses_title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
}

.eg-moteurs {
    padding: 40px;
}

.eg-moteurs .row>h4 {
    text-align: center;
    font-family: "WotfardSemiBold", "Arial", "sans-serif";
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
    width: 100%;
}

.eg-moteurs .eg_moteurs_Container {
    display: flex;
    width: 100%;
}

.eg-moteurs .eg_moteurs_Container>div {
    width: 50%;
}

.eg-moteurs .eg_moteurs_Container ul {
    padding: 0px;
}

.eg-moteurs .eg_moteurs_Container ul li {
    list-style: none;
    display: flex;
    margin-bottom: 10px;
}

.eg-moteurs .eg-icon {
    margin-right: 10px;
}

.eg-moteurs .eg_moteurs_Container h4 {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    width: 100%;
    font-weight: 600;
}

.eg-moteurs .eg_moImg_container img {
    width: 250px;
    max-width: 90%;
    opacity: 1;
}

.eg-moteurs .eg_moImg_container:nth-child(1) {
    text-align: center;
    margin-top: 40px;
}

.eg-moteurs .eg_moImg_container:nth-child(2) img {
    width: 140px;
    max-width: 90%;
    opacity: 1;
    margin-top: 10px;
}

.eg-moteurs .eg_moteurs_images {
    text-align: center;
}

/*moteurs div second of type*/

div.eg-moteurs:nth-of-type(2n) .eg_default_container {
    display: flex;
}

.eg-moteurs:nth-of-type(2n) .eg_default_container>div>h4 {
    text-align: center;
}

.eg-moteurs:nth-of-type(2n) ul li {
    display: flex;
}

.eg-moteurs:nth-of-type(2n) .eg_heading_default {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eg-moteurs:nth-of-type(2n) .eg_heading_default img {
    width: 50px;
    display: block;
}

/* only heading */
div.eg-moteurs:nth-of-type(2n)+h4.eg_tile {
    text-align: center;
}

/*eg solution */
.eg-solution .container-bob .row {
    justify-content: center;
}

.eg_solution_container .eg_formal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eg_solution_container .eg_formal_description {
    text-align:
        center;
}


.eg_solution_container .eg_img_solution img {
    width: 150px;
}

.eg_solution_container_innr {
    display: flex;
}

.eg_solution_container_innr .eg_solution_innr_left .eg_solution_img_bottom img {
    width: 130px;
}