/*top*/
#pageContent>div:nth-of-type(3),
#pageContent>div:nth-of-type(4),
#pageContent>div:nth-of-type(5) {
    display: none !important;
}

/* hovering on numbers */
.contactSupportTeam_Component>.container>div:nth-child(2)>div:nth-child(2) .white-box>div:nth-child(2)>p:nth-of-type(1)>span {
    cursor: pointer;
}

/* custom radio btn */
.egRadioBtn>label::before {
    content: '';
    width: 16px;
    aspect-ratio: 1/1;
    border: 2px solid #706290;
    border-radius: 100vmax;
    outline: 2px solid #f2f2f2;
}

.egRadioBtn>label:has(input[type=radio]:checked)::before {
    background: #706290;
    border-color: #f2f2f2;
    outline-color: #706290;
}

/* hiding default html radio btn */
.egRadioBtn>label>input[type=radio] {
    display: none !important;
}

.panel-white>div>div:nth-child(3),
html body ul.top-menu>li:nth-child(4) {
    display: none;
}

#page-vue-header-mainmenu>div:nth-child(1)>div:nth-child(n + 2),
#page-vue-header-mainmenu>div:nth-child(2)>div:nth-child(2) {
    border: none !important;
    box-shadow: none !important;
}

.panel-white>div>div:nth-child(3) {
    display: none;
}

div.panel-white>div>div>div {
    width: inherit !important;
}


@media(min-width: 992px) {
    .panel-white>div>div:nth-child(4) {
        padding-right: 5% !important;
    }

    .egRadioBtn {
        padding-left: 5%;
    }
}

.panel-white>div>div:nth-child(4) {
    padding-bottom: 0;
    margin-bottom: 0 !important;
}

.panel-white .txt-a-c:first-of-type {
    text-align: left !important;
    padding-left: 0 !important;
}

/*top*/

div.container div.white-box>div:nth-child(2)>p:nth-child(3),
div:nth-child(2)>div>div.white-box-node>p:nth-child(2) {
    display: none !important;
}

label.egFirst {
    margin-bottom: 0;
}


p.egTxt {
    text-align: center;
    color: #fff;
}

.white-box-node {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

div:nth-child(1)>div>div:nth-child(2)>p:nth-child(1) {
    display: flex;
    order: 1;
}

p.egFormDesc {
    text-align: center;
    font-size: 16px;
    padding-top: 0;
    margin-bottom: 30px;
}

#conForm h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}


.panel-white {
    background: #f2f2f2 !important;
}

textarea#message {
    background: #cbd0d2 !important;
    border: none !important;
}

input#fullName::placeholder,
input#email::placeholder {
    color: #aeb9bc !important;
    font-weight: 800;
}

textarea#message::placeholder {
    color: transparent !important;
}

/*boxes*/
.eg-boxes {
    background: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.eg-boxes>.container {
    padding: 0;
    max-width: 610px;
    display: flex;
    gap: 22px;
    width: 100% !important;
}

.eg-boxes>.container>div {
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 16px;
    border-radius: 4px;
}

.panel-white>div+div>div>p:nth-child(2) {
    display: none !important;
}

.panel-white #iAgree+label>p:nth-child(1) {
    font-size: 14px;
    display: block;
    margin-top: -4px;
}



input#eghyperTonic,
#egnoHyperTonic {
    width: 18px;
    margin: 2px;
}

label.egSec {
    margin-top: 0 !important;
}


label.egFirst>p,
label.egSec>p {
    font-size: 15px;
    padding-top: 11px;
    font-weight: 400;
}

.egFirst,
.egSec {
    display: flex;
    gap: 10px;
    align-items: center;
}


.contact-submit {
    min-width: 150px !important;
}

#conForm>div>h2,
#conForm>div>p {
    padding-inline: 15px;
}

html body #conForm h2 {
    color: #706290 !important;
    font-weight: 700;
}

/* .eg-small-box {
    
} */

a.eg-box-link {
    font-size: 20px;
    font-weight: bold;
}

@media(max-width:767px) {
    .eg-boxes>.container {
        flex-wrap: wrap;
    }

    .col-xs-12.egRadioBtn {
        padding-left: 0;
    }

    label.egFirst>p,
    label.egSec>p {
        font-size: 16px;
        padding-top: 10px;
    }

    .col-xs-12.egRadioBtn {
        padding-bottom: 20px;
    }

    input#eghyperTonic,
    #egnoHyperTonic {
        width: 16px !important;
        display: block;
        padding: 0;
        margin: 0;
    }

    #conForm>div {

        margin-bottom: 0 !important;
        margin-top: 0;
    }
}

/*boxes*/

@media screen and (min-width: 768px) {
    div#page-vue-header-mainmenu {
        border-bottom: 1px solid #9cadb2;
    }
}

#conForm .panel-white {
    background-image: none !important;
    width: 90% !important;
    margin-inline: auto !important;
}