#__next .search {
    padding: 26px 20px 60px 20px;
}



#__next div.results>div:nth-child(1)>div.applied-category-row div[role='breadcrumb'],
#__next div.results>div:nth-child(1)>div:nth-child(2) {
    display: none;
}

#__next div.results>div:nth-child(1)>ul {
    display: none;
}

.eg-search-title {
    color: black;
    font-size: 21px;
    line-height: 1.3;
}

label.eg-filters-drop-down-btn {
    color: #3671B0;
    gap: 3px;
    border-bottom: 1px solid;
    font-weight: 700;
    cursor: pointer;
}

span.eg-arrow-icon>svg {
    width: 10px;
    height: 10px;
}

input#eg-drop-down-radio:checked+label~ul {
    display: block !important;
}

input#eg-drop-down-radio:checked+label span>svg {
    rotate: 180deg;
}