
.eg_trust{
    background-color: #ffdd01;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    padding-block: 10px;
    z-index: 9999;
}

.eg_ingrad img, 
.eg_protection img,
.eg_plastic img {
    width: 35px;
    margin: auto;
}

.eg_trust div {
    display: flex;
    flex-direction: column;
    padding: 1px 25px;
}

.eg_trust div p{
font-family: Gelica,Georgia,system-ui;    
    font-size: 20px;
}

.eg_trust div svg {
    width: 30px;
    margin: auto;
}

.eg_protection,.eg_ingrad, .eg_plastic {
    position: relative;
}

.eg_protection::after,
.eg_ingrad::after{
    content: '';
  height: 45%; 
  width: 1px;
  position: absolute;
  right: 0;
  top: 25%; 
  background-color: rgba(0,0,0,0.1);
}